body {
  padding-top: 50px;
  min-width: 900px;
  cursor: auto;
}
#map-container {
  position: fixed;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  width: 40%;
  min-width: 40%;
}
#main-container {
  float: right;
  padding-top: 20px;
  width: 60%;
  min-width: 560px;
}
.input-location {
  float: left;
  width: 60%;
}
.input-radius {
  float: left;
  width: 40%;
}
.input-location > .form-control,
.input-radius > .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}