body {
  min-width: 960px;
  min-height: 2000px;
  padding-top: 50px;
}
#map-container {
  position: fixed;
  float: left;
  width: 40%;
}
#search-container {
  float: right;
  padding-top: 20px;
  width: 60%;
}
.input-location {
  float: left;
  width: 60%;
}
.input-radius {
  float: left;
  width: 40%;
}
.input-location > .form-control,
.input-radius > .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}